*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor{
    background-color: rgb(230, 84, 84);
    position: relative;
    width: 28rem;
    height: 10rem;
    min-height: 14rem;
    border-radius: 1rem;
    border: rgb(80, 70, 90) solid;
}

.titulo{
    background-color: rgb(80, 70, 90);
    color: white;
    position: absolute;
    top: -2rem;
    left: 8rem;
    padding: 1rem;
    border-radius: 1rem;
}

.texto{
    width: 80%;
    margin: 2rem auto;
    color: white;
} 